@import 'styles/_init';
.name{
    display: inline;
}
.calendar-by-month{

    &_days{
        @include map-font-style(header-list, jp-large);        
        height: 23px;
        font-size: 20px;
        margin-bottom: 9px;
        display: inline-block;
        width: 13.6%;
    }
    &_week-day{
        display: inline-block;
        width: 13.64%;
        text-align: left;
        background-color: #f2f0f1;
        padding: 0px 0px 9px 9px;
    }
}