.calender{
    border-top: 6px solid pacific-blue;
    border-bottom: 4px solid medium-grey;
    &_day-month-toggle{
        display: inline;
        margin:46px 0px 30px 0px;
        &_month{
            width: 150px;
            height: 49px;
            &_text{
                padding: 15px 0px 15px 0px;
                width: 100%;
            }
        }
    }
    &_selected-text{
        margin-top:46px;
    }
    &_result-region{
        margin-top: 30px;
    }
}
.fill{
    background-color: blue;
    color: white
}