@import 'styles/_init';
.calendar{
    border-top: 6px solid map-get($jp-colors, pacific-blue);
    border-bottom: 4px solid map-get($jp-colors, medium-grey);
    padding: 1%;
    &_day-month-toggle{
        display: flex;
        margin: 46px 0px 30px 30px;  
        text-align: center;  
        cursor: pointer;    
        &_month{
            width: 150px;
            height: 49px;            
            display: inline-flex;
            &_text{
                padding: 15px;
                width: 100%;
                border: 1px solid grey;
            }
        }
    }
    &_selected-text{
        margin-left: 391px;
    }
    &_result-region{
        margin-top: 30px;
    }
}
.fill{
    background-color: map-get($jp-colors, pacific-blue);;
    color: map-get($jp-colors, white);
}